<% layout('/layouts/boilerplates') %>
<body>
  <h3>edit this</h3>
  <form action="/listing/<%=user._id%>?_method=PUT" method="post">
    <input type="text" name="listing[title]" id="" value="<%= user.title %>" />
    <br />
    <br />
    <textarea id="" name="listing[description]">
<%= user.description %></textarea
    >
    <br />
    <br />
    <input type="text" value="<%= user.image %>" name="listing[Image]" />
    <br />
    <br />
    <input type="number" value="<%= user.price %>" name="listing[price]" />
    <br />
    <br />
    <input type="text" value="<%= user.country %>" name="listing[country]" />
    <br />
    <br />
    <input type="text" value="<%= user.location %>" name="listing[location]" />
    <button type="submit">ADD</button>
  </form>
</body>
