<% layout('/layouts/boilerplates') %>
  <body>
    <h1>OUR Listings</h1>

    <div>
      <% for (var i = 0; i < allListing.length; i++) { %>
        <h2>
          <a href="listing/<%= allListing[i]._id %>">
            <%= allListing[i].title %>
          </a>
        </h2>
        <p><%= allListing[i].description %></p>
        <p>Price: <%= allListing[i].price %></p>
        <p>Location: <%= allListing[i].location %></p>
        <p>Country: <%= allListing[i].country %></p>
      <% } %>
    </div>
  </body>
