<% layout('/layouts/boilerplates') %>
<body>
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mb-3 col-6 offset-2">
        <img
          src="<%= user.image.url %>"
          class="card-img-top"
          id="imageshow"
          alt="<%= user.image.filename %>"
        />
        <div class="card-body">
          <h5 class="card-title"><%= user.title %></h5>
        </div>
      </div>
      <div>
        <p class="card-text"><%= user.description %></p>
        <p class="card-text"><strong><%= user.price %> INR </strong>/night</p>
        <div class="buttons">
          <button>
            <a href="/listing/<%=user._id%>/edit">EDIT</a>
          </button>
          <button>
            <a href="/listing/<%=user._id%>/delete">DELETE</a>
          </button>
        </div>
      </div>
    </div>
  </div>
</body>
